#textdomain wesnoth-ReturntoNoelren
[unit_type]
    id=MageA
    name= _ "Mage Apprentice"
	[base_unit]
		id=Mage
	[/base_unit]
    advances_to=Mage
    experience=10
	level=0
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=5
        number=1
    [/attack]
    [attack]
        name=missile
        description=_"missile"
        icon=attacks/magic-missile.png
        type=fire
        range=ranged
        damage=3
        number=3
    [/attack]
[/unit_type]
