#textdomain wesnoth-ReturntoNoelren

[unit_type]
    id=RTN_Falcon
    name= _ "Falcon"
    do_not_list=yes
    race=monster
    image="units/monsters/falcon.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    ellipse="misc/ellipse-nozoc"
    hitpoints=35
    movement_type=lightfly
    movement=7
    experience=35
    level=1
    alignment=neutral
    advances_to=null
    {LSB_AMLA_LAST}
    cost=10
    usage=scout
    undead_variation=null
    description= _ "Majestic birds of prey, falcons are the fastest flying creatures in the world. Even though these wild falcons have escaped from their keepers, they continue to hunt with their razor-sharp claws."+{SPECIAL_NOTES}+{SPECIAL_NOTES_CHARGE}
    die_sound={SOUND_LIST:GRYPHON_DIE}
    {FLYING_DEFENSE_ANIM "units/monsters/falcon.png" "units/monsters/falcon.png" {SOUND_LIST:GRYPHON_HIT} }
    [attack]
        name=beak
        description= _ "beak"
        type=pierce
        range=melee
        damage=5
        number=3
        icon=attacks/beak-shaxthal.png
    [/attack]
    [attack]
        name=claws
        description=_"Claws"
        type=blade
        range=melee
        damage=6
        number=3
        icon=attacks/claws-animal.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=beak
        [/filter_attack]
        start_time=-100
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/monsters/falcon.png"
                #image="units/monsters/falcon-attack.png"
                sound=spear.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/monsters/falcon.png"
                #image="units/monsters/falcon-attack.png"
                sound=bow-puny-fire-miss.ogg
            [/frame]
        [/else]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        start_time=-100
        [if]
            hits=yes
            [frame]
                duration=200
                image="units/monsters/falcon.png"
                #image="units/monsters/falcon-attack.png"
                sound=claws.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=200
                image="units/monsters/falcon.png"
                #image="units/monsters/falcon-attack.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
